@font-face {
  font-family: "MaplestoryOTF";
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/MaplestoryOTFLight.otf") format("otf");
}

@font-face {
  font-family: "MaplestoryOTF";
  font-weight: 700;
  font-style: normal;
  src: url("./fonts/MaplestoryOTFBold.otf") format("otf");
}
