@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MaplestoryOTF";
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/MaplestoryOTFLight.otf") format("otf");
}

@font-face {
  font-family: "MaplestoryOTF";
  font-weight: 700;
  font-style: normal;
  src: url("./fonts/MaplestoryOTFBold.otf") format("otf");
}

.page_layout_style {
  margin: 8px auto;
  display: grid;
  gap: 8px;
}

.char_info_list_item {
  float: left;
  width: 190px;
  height: 206px;
  position: relative;
  background: url("/images/char_list_top.png") center top no-repeat;
  cursor: pointer;
  margin-right: 12px;
  margin-bottom: 20px;
  transition: all 0.5s ease;
}

.char_info_list_item:hover {
  float: left;
  width: 190px;
  height: 206px;
  position: relative;
  background: url("/images/char_list_top_dark.png") center top no-repeat;
  margin-right: 12px;
  margin-bottom: 20px;
  transition: all 0.5s ease;
}

.char_info_list_item span {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  color: #fff;
  font-size: 16px;
  background: url("/images/char_list_bottom.png") center bottom no-repeat;
  height: 56px;
  transition: all 0.5s ease;
}

.char_info_list_item span em {
  width: 100%;
  float: left;
  height: 40px;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-style: normal;
}
